{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/patient_list_demo.css' %}">
    <title>Patients</title>
</head>
<body>
    <!-- Navigation bar -->
    <div class="navbar">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="logout">Logout</a>
        {% endif %}
    </div>   

    <!-- Patient list -->
    <div class="container">
        <h1>Patients</h1>
        <ul>
            {% for patient in patients %}
            <li class="patient-item" data-name="{{ patient.name }}" data-form-filled-in="{{ patient.form_filled_in }}">
                {% if patient.form_filled_in %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#40a863" class="bi bi-person-fill-check" viewBox="0 0 16 16" style="margin-right: 8px;">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                        </svg>
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill-exclamation" viewBox="0 0 16 16" style="margin-right: 8px;">
                            <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                            <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5m0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                        </svg>
                    {% endif %}
                    <a href="{% url 'patient_detail_demo' patient.id %}">{{ patient.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Complete button -->
    <button id="completeButton" class="btn btn-secondary" disabled>Complete</button>

    <!-- Include the logout URL in a hidden input field -->
    <input type="hidden" id="logout-url" value="{% url 'logout' %}">

    <!-- JavaScript -->
    <script src="{% static 'js/patient_list_demo.js' %}"></script>

</body>
</html>
